 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    font-size: 15px;
    margin-top: 10px;
  }
label{
    text-align: left;
    float: left;
    padding-top: 50px;
    font-size: 17px;
  }
  
  div {
    border-radius: 5px;
    padding: 30px;
  }

  .submit{
    border-radius: 5px;
    padding: 30px;
  }


.button3 {
    background-color: #01B0D3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
    float: left;

  }
  .button3:hover{
    background-color: #242333;
  } 