 .header {
    padding: 80px;
    text-align: center;
    background: #242333;
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
   margin-top:px;
    margin-bottom: 40px;
    width: 100%;
  }

  .header:hover {
    /* background-color: #242333; */
    color: #F6DFEB;
    outline: none;
    /* border: 3px solid #DF0054; */
  }
 

  
  